body {
  --gray-100: #ffffff;
  --gray-200: #f5f5f5;
  --gray-300: #e5e5e5;
  --gray-400: #c4c4c4;
  --gray-500: #9b9b9b;
  --gray-600: #707070;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;
  --bg: #faf9f9;

  --sidebar-text-color: #4cce48;
  --sidebar-bg-color: #fff;
  --sidebar-hover-bg-color: #e5e5e5;
  --sidebar-color: #333;
  --sidebar-active-color: #0de065;
  --sidebar-width: 250px;
  --sidebar-border: 1px solid #e5e5e5;
  --header-height: 60px;
  --header-color: #333333;
  --header-logo-color: #333;
  --header-bg-color: #fff;
  --header-border: 1px solid #d3d3d4;
}

.dark body {
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --bg: #313348;
  --navbar-bg-color: #6f6486;
  --sidebar-bg-color: #252636;
  --sidebar-hover-bg-color: #3c3f58;
  --sidebar-color: #9ca3af;
  --sidebar-active-color: #3c3f58;
  --sidebar-width: 250px;
  --header-height: 60px;
  --header-color: #eee;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
