body {
  // 亮色主题
  --bg-color: #ffffff;
  --border-color: #dcdfe6;
  --text-color: #303133;

  --header-bg: #ffffff;
  --header-text-color: #303133;
  --header-border-color: #ebeef5;

  --sidebar-bg: #f9f9f9;
  --sidebar-text-color: #000000;
  --sidebar-hover-bg: #e2e2e2;
  --sidebar-hover-text-color: #ffffff;
  --sidebar-active-bg: #0e0d0d;
  --sidebar-active-text-color: #ffffff;
  --sidebar-border-color: #ebeef5;

  --submenu-bg: #ffffff;
  --submenu-text-color: #606266;
  --submenu-hover-bg: #f2f6fc;

  --tag-bg: #ffffff;
  --tag-item-bg: #f1f3f5;
  --tag-active-item-bg: #ffffff;
  --tag-text-color: #484949;
  --tag-active-text-color: #333333;
  --tag-active-border-color: #333333;
  --tag-border-color: #ebeef5;
  --tag-btn-bg: #d1cfcf;
  --tag-btn-text-color: #5d5e5e;
  --tab-btn-hover-text-color: #5d5e5e;

  --main-bg: #ffffff;
  --main-text-color: #303133;
  --main-border-color: #ebeef5;
}

.dark body {
  --bg-color: #121212;
  --border-color: #2c2c2c;
  --text-color: #f0f0f0;

  --header-bg: #1a1a1a;
  --header-text-color: #ffffff;
  --header-border-color: #2a2a2a;

  --sidebar-bg: #1c1c1c;
  --sidebar-text-color: #dddddd;
  --sidebar-hover-bg: #333333;
  --sidebar-hover-text-color: #ffffff;
  --sidebar-active-bg: #ffffff;
  --sidebar-active-text-color: #000000;
  --sidebar-border-color: #2a2a2a;

  --submenu-bg: #1e1e1e;
  --submenu-text-color: #bbbbbb;
  --submenu-hover-bg: #2a2a2a;

  --tag-bg: #1a1a1a;
  --tag-item-bg: #1a1a1a;
  --tag-active-item-bg: #1e1e1e;
  --tag-text-color: #cccccc;
  --tag-active-text-color: #ffffff;
  --tag-active-border-color: #ffffff;
  --tag-border-color: #3a3a3a;
  --tag-btn-bg: #3a3a3a;
  --tag-btn-text-color: #bbbbbb;
  --tab-btn-hover-text-color: #ffffff;

  --main-bg: #181818;
  --main-text-color: #f5f5f5;
  --main-border-color: #2d2d2d;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
