html.dark {
  /* 自定义深色背景颜色 */
  --tabs-btn-bg-color: rgba(10, 12, 51, 0.5);
  --tabs-btn-bg-color-hover: rgba(10, 12, 51, 1);
}
:root {
  color: rgb(171, 205, 255);
  --tabs-btn-bg-color: rgba(171, 205, 255, 0.5);
  --tabs-btn-bg-color-hover: rgba(171, 205, 255, 1);
}
